In [1]:
import ccxt
from dotenv import load_dotenv
import os
from pathlib import Path

In [2]:
exchange = ccxt.bybit()
load_dotenv(verbose=True)
dotenv_path = Path.home() / ".env"
load_dotenv(dotenv_path)
exchange.apiKey = os.environ["BYBIT_API_KEY"]
exchange.secret = os.environ["BYBIT_SECRET"]
exchange.options["timeDifference"] = 5000
exchange.check_required_credentials()

True

In [3]:
exchange.fetch_positions(["BTCUSDT"])

[{'info': {'user_id': '2694409',
   'symbol': 'BTCUSDT',
   'side': 'None',
   'size': '0',
   'position_value': '0',
   'entry_price': '0',
   'liq_price': '0',
   'bust_price': '0',
   'leverage': '5',
   'auto_add_margin': '0',
   'is_isolated': False,
   'position_margin': '0',
   'occ_closing_fee': '0',
   'realised_pnl': '0',
   'cum_realised_pnl': '9.61110095',
   'free_qty': '0',
   'tp_sl_mode': 'Full',
   'unrealised_pnl': '0',
   'deleverage_indicator': '0',
   'risk_id': '1',
   'stop_loss': '0',
   'take_profit': '0',
   'trailing_stop': '0',
   'position_idx': '0',
   'mode': 'MergedSingle'},
  'symbol': 'BTC/USDT:USDT',
  'timestamp': None,
  'datetime': None,
  'initialMargin': None,
  'initialMarginPercentage': None,
  'maintenanceMargin': None,
  'maintenanceMarginPercentage': None,
  'entryPrice': None,
  'notional': 0.0,
  'leverage': 5.0,
  'unrealizedPnl': None,
  'contracts': 0.0,
  'contractSize': 1.0,
  'marginRatio': None,
  'liquidationPrice': None,
  'markPrice': None,
  'collateral': 0.0,
  'marginMode': 'cross',
  'side': 'short',
  'percentage': None}]

In [4]:
exchange.timeframes

{'1m': '1',
 '3m': '3',
 '5m': '5',
 '15m': '15',
 '30m': '30',
 '1h': '60',
 '2h': '120',
 '4h': '240',
 '6h': '360',
 '12h': '720',
 '1d': 'D',
 '1w': 'W',
 '1M': 'M',
 '1y': 'Y'}

In [13]:
import pandas as pd
import numpy as np

In [6]:
ohlcv = exchange.fetch_ohlcv("BTCUSDT", limit=100, timeframe="15m")
ohlcv = pd.DataFrame(ohlcv, columns=["Datetime", "Open", "High", "Low", "Close", "Volume"])
ohlcv

         Datetime     Open     High      Low    Close    Volume
0   1660751100000  23372.0  23390.0  23343.5  23383.5   738.171
1   1660752000000  23383.5  23407.0  23326.0  23358.0  1083.235
2   1660752900000  23358.0  23393.0  23331.5  23371.5  1012.753
3   1660753800000  23371.5  23450.0  23355.0  23410.0  2034.795
4   1660754700000  23410.0  23432.0  23384.0  23408.0   811.339
..            ...      ...      ...      ...      ...       ...
95  1660836600000  23428.5  23469.5  23425.0  23445.0  1397.103
96  1660837500000  23445.0  23478.5  23440.0  23442.0   668.156
97  1660838400000  23442.0  23455.5  23403.5  23404.0   676.650
98  1660839300000  23404.0  23419.0  23313.0  23325.0  2181.775
99  1660840200000  23325.0  23325.0  23264.0  23299.0  1448.409

[100 rows x 6 columns]

In [36]:
ohlcv = exchange.fetch_ohlcv("BTCUSDT", timeframe="15m", limit=200)
ohlcv = pd.DataFrame(ohlcv, columns=["Datetime", "Open", "High", "Low", "Close", "Volume"])
ohlcv.dtypes

Datetime      int64
Open        float64
High        float64
Low         float64
Close       float64
Volume      float64
dtype: object

In [33]:
ohlcv = exchange.fetch_ohlcv("BTCUSDT", timeframe="15min", limit=200)
oi = exchange.fetch_open_interest_history("BTCUSDT", timeframe="15min", limit=200)
oi = [d["info"] for d in oi]
oi = pd.DataFrame(oi, columns=["timestamp", "open_interest"], dtype=np.float64)
oi["timestamp"] = pd.to_datetime(oi["timestamp"] * 1000 * 1000 * 1000)
oi = oi.set_index("timestamp")
oi

                     open_interest
timestamp
2022-08-16 14:45:00      44878.184
2022-08-16 15:00:00      45039.437
2022-08-16 15:15:00      45135.319
2022-08-16 15:30:00      45196.265
2022-08-16 15:45:00      45297.732
...                            ...
2022-08-18 15:30:00      51450.102
2022-08-18 15:45:00      51454.714
2022-08-18 16:00:00      51462.888
2022-08-18 16:15:00      51708.400
2022-08-18 16:30:00      51668.604

[200 rows x 1 columns]